body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 40%
}
.button{
    text-decoration: none;
    background-color: rgb(236, 101, 52);
    padding: 10px;
    border-radius: 5px;
}